a {
  text-decoration:none;
}

header, footer {
  height: 70px;
  background-color: red;
  color: white;
  font-size: 20px;
}

.post_table {
  border-collapse: collapse;
  font-size: 17px;

  td {
    border: 1px solid black;
    padding: 0 3px;
  }
  th {
    border: 1px solid black;
    padding: 0 3px;  
  }
}

// new_posts_path
.new_table {
  border-collapse: collapse;
  font-size: 17px;
  td {
    border: 1px solid black;
  }

  td:nth-child(1) {
    width: 100px;
  }

  td:nth-child(2) {
    width: 400px;
  }
}